name: WindowsCI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Firewall
        run: Set-NetFirewallProfile -Profile Domain,Public,Private -Enabled False

      - name: Create Tunnel
        shell: bash
        run: docker run --rm -it timetoogo/tunshell L HQYfTYk8E4gbtyP7aWpGty d8mrzmHLR3C4kB10gul1WI au.relay.tunshell.com
